body {
    background-color: antiquewhite;
    
}
h1 {
    text-align: center;
    color: #fff;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff2d95, 0 0 30px #4b6985, 0 0 40px #ff2d95, 0 0 50px #ff2d95, 0 0 75px #ff2d95;
	letter-spacing: 5px;
    font: 80px 'MisoRegular';
    
}

    
.container {
    
    display: flex;
    margin-left: 33%;
    margin-top: 3%;
    border-top: solid 5px;
    border-bottom: solid 5px;
    width:615px;
      
}
.flex-container {
    padding: 0;
   /* justify-content: space-around;*/
   justify-content: center;
   
  }
  
  .flex-item {
    background: tomato;
   /* padding: 0px;*/
    width: 200px;
    height: 150px;
    border-style: dashed;
   border-color:antiquewhite;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    
  }
/* Blue */
  /*button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top:200px;
    margin-left:100px;
    cursor: pointer
    }*/ 
    button {
        background-color: burlywood; /* Green */
        border: none;
        color: white;
        padding: 8px 13px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer
      
        
       
      }
      #x{
        width: 100px;
        height: 40px;
        margin-right:40px;
    }
    #o{
        width: 100px;
        height: 40px;
    }
    #container{
        text-align: center;
    }
      

  .btn-x{
    background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
  font-family: Comic Sans MS;
  }

  .btn-o {
    
        background-color: white; 
        color: black; 
        border: 2px solid #008CBA;
        font-family: Comic Sans MS;
      }
  